# KDE Config File
[Desktop Entry]
Encoding=UTF-8
MimeType=application/x-freeplane
Icon=freeplane
Comment=Freeplane Map
Comment[cs]=Freeplane Mapa
Comment[de]=Freeplane Map
Comment[dk]=Freeplane Map
Comment[es]=Freeplane Mapa
Comment[fr]=Freeplane Carte Mentale
Comment[hu]=Freeplane Térkép
Comment[it]=Freeplane Mappa
Comment[ja]=Freeplane マップ
Comment[kr]=Freeplane 맵
Comment[lt]=Freeplane Žemėlapis
Comment[nl]=Freeplane Map
Comment[no]=Freeplane Map
Comment[pl]=Freeplane Mapa
Comment[pt]=Freeplane Mapa
Comment[pt]=Freeplane Mapa
Comment[ru]=Freeplane Ассоциативная арта
Comment[sl]=Freeplane Miselni vzorec
Comment[zh_CN]=Freeplane 思维导图
Comment[zh]=Freeplane 心智圖
Type=MimeType
Patterns=*.mm
X-KDE-AutoEmbed=false
[Property::X-KDE-NativeExtension]
Type=QString
Value=.mm
